<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

     <!-- <link rel='stylesheet' href='/stylesheets/bootstrap.min.css'/>
     <link rel='stylesheet' href='/stylesheets/bootstrap.css'/> -->
    <!-- <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css"> -->
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    
       {{>header}}



<div id="main-content"  class="container">
          {{#each breakfasts}}
			    
			        {{#each this}}
			             <!--  <div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
					                <a href="#">
					                  <div class="category-tile">
						                    <img src="{{this.image}}" width="200" height="200"  alt="{this.title}}" >						                     
						                     <span>{{this.description}}</span>
						                     <span>{{this.price}}</span>
					                      
					                   </div>
					                </a>
			                </div>
 -->
                      <div class="menu-item-tile col-md-6">
  <div class="row">
          <div class="col-sm-5">
              <div class="menu-item-photo">
                 <div>{{this.price}}</div>
                <img class="img-responsive" width="250" height="150" src="{{this.image}}" alt="Item">
              </div>
              <div class="menu-item-price">{{this.price}}</div>
          </div>
          <div class="menu-item-description col-sm-7">
              <h3 class="menu-item-title">{{this.title}}</h3>
              <p class="menu-item-details">{{this.description}}</p>
          </div>
  </div>
  <hr class="visible-xs">
</div>

			               
			        {{/each}}
			      
		

        {{/each}}


       </div><!-- End of #home-tiles -->
    

        <!--  {{{body}}} -->

        {{>footer}}
  
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
            crossorigin="anonymous">
    </script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"  integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous">
      
     </script>

  <!--  <script src="javascripts/jquery-2.1.4.min.js"></script>
  <script src="javascripts/bootstrap.min.js"></script> -->
  </body>
</html>
